/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Estilo para o h2 */
h2 {
    text-align: center;
    color: #333;
}

/* Estilo para o form */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo para o label */
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

/* Estilo para o input[type=text] */
input[type=text] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o select */
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.logo{
    width: 180px;
    padding: 20px;
}

/* Estilo para o input[type=submit] */
input[type=submit] {
    background-color: #1c0880;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilo para o input[type=button] */
input[type=button] {
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para o input[type=submit]:hover e input[type=button]:hover */
input[type=submit]:hover, input[type=button]:hover {
    background-color: #333;
    color: #fff;
}
